<div class="mt-5">
    <div class="row">
        <div class="col-lg-3">
            <button class="btn btn-warning">
                    Start Course </span>
            </button>
        </div>
        <div class="col-lg-9">
            <h2>{{blog.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{blog.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{blog.description}}<</p>
        </div>
    </div>
</div>