<div class="search-form mt-5">
    <form method="GET" action="">
        <div class="form-group">
            <label for="search-input">Từ Khoá</label>
            <input type="text" class="form-control" id="search-input" placeholder="Nhập Từ Khoá..." name="q">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>